body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    width: 100%;
    height: 100px;
}

h1 {
    padding: 20px;
    text-align: center;
}

.day_header {
    background-color: black;
    width: 100%;
    height: 35px;
}

.day_header p {
    font: 500 18px 'Myriad Pro';
    color: #F3F3F3;
    padding: 8px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td {
    border: 1px solid #999;
}

th {
    background-color: #333;
    color: white;
    height: 25px;
    font: 500 14px 'Myriad Pro';
    text-align: left;
    padding: 8px;
    border-left: 1px solid #FFF;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

td {
    height: px;
    font: 300 14px 'Myriad Pro';
    text-align: left;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 10px;
}

.item_description {
    color: black;
    font: 400 14px 'Myriad Pro';
}

.item_value {
    color: black;
    font: 400 14px 'Myriad Pro';
}

tr {
    background-color: #CCC;
}

tr:nth-child(odd) {
    background-color: #F0F0F0;
}
